<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #4004f6;"></i>
            <i class="fa-brands fa-instagram" style="color: #f81616;"></i>
            <i class="fa-brands fa-linkedin" style="color: #4b8cfb;"></i>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited </div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy</a>
            <a href="/terms"> Terms</a>

        </div>
    </div>
</footer>