<% layout("/layouts/boilerplate") -%>

<style>

    .signup-outer{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .signup-inner{
        border: 1px solid rgba(154, 189, 167, 0.479);
margin: 2rem;
padding: 2rem;
border-radius: 1rem;
box-shadow: 2px 20px 30px rgba(153, 101, 236, 0.521)  ;
background-color: rgba(200, 116, 233, 0.158);
    }
</style>
<div class="row mt-3 signup-outer ">
    

    <div class="col-8 offset-3 signup-inner">
    <h2 class="col-8" style=" color: red; padding-bottom: 5px; width: 100%; ">Signup on Wonderlust</h2>
    

        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="md-4">
                <label for="username" class="form-label"><b>Username</b></label>
    
                <input 
                name="username" 
                
                type ="text" 
                class="form-control"
                required/>
                <div class="invalid-feedback">Looks good!</div>
    
    
            </div>
            <br>
            <div class="md-4">
                <label for="email" class="form-label"><b>Email</b></label>
    
                <input 
                name="email" 
                
                type ="text" 
                class="form-control"
                required/>
                <div class="invalid-feedback">Please enter short description! </div>
    
     
             
    
            </div>
            <br>
            <div class="md-4">
                <label for="password" class="form-label"><b>Password</b></label>
    
                <input 
                name="password" 
                
                type ="password" 
                class="form-control"
                required/>
                <div class="invalid-feedback">Please enter short description! </div>
    
     
             
    
            </div>
            <br>
            <button class="btn btn-success">SignUp</button>
         </form>
    </div>

</div>